@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Nunito:wght@200;300;400;500&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --yellow:#dcc026;
    --green:#a0f924;
    --mix: linear-gradient(90deg, rgb(2, 1, 12) 0%, rgb(2, 18, 78) 35%, rgb(2, 3, 7) 100%);
    --clr: #04fc43;
    --vlr:#140881;
    --miz: linear-gradient(90deg, rgb(34, 52, 2) 0%, rgb(2, 18, 78) 35%, rgb(138, 150, 5) 100%);
}

*{
    font-family: 'nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--green);
}
body{
   background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(1, 1, 42) 35%, rgb(5, 2, 27) 100%);
   background-size: 400;
   background-position: center;
   overflow-x: hidden;
   overflow: hidden;
   padding-left: 35rem;
   display: block;
   min-height: 100%;
}
body .box div{
    position: absolute;
    background-attachment: fixed;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: cover;
    border: 3px solid rgba(170, 204, 19, 0.8);
}
.box div:nth-child(1){
    top: 3%;
    left: 42%;
    animation: ab 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 30%;
    animation: ab 7s linear infinite;
}
.box div:nth-child(3){
    top: 5%;
    left: 6%;
    animation: ab 9s linear infinite;
}
.box div:nth-child(4){
    top: 2%;
    left: 60%;
    animation: ab 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: ab 6s linear infinite;
}
.box div:nth-child(6){
    top: 100%;
    left: 90%;
    animation: ab 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 90%;
    animation: ab 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: ab 16s linear infinite;
}
.box div:nth-child(9){
    top: 100%;
    left: 25%;
    animation: ab 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 90%;
    animation: ab 5s linear infinite;
}
@keyframes ab {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }

}
section{
    min-height: 100vh;
    padding: 1rem;
}
.btn{
   position: relative;
   background: none;
   color: rgb(69, 129, 6);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0.5em;
   font-weight: 600;
   transition: 0.5s;
   font-size: 1.5rem;
    border-radius: 5rem;
    width: 50%;
    border: 1px solid rgb(162, 255, 0);
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--vlr);
    color: yellow;
    letter-spacing: 0.65em;
    box-shadow: 0 0 35px var(--vlr);
}
.btn:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: none;
    color: #ff0000;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn i{
    position: relative;
    z-index: 1;
}
.btn:hover #u::before{
    width: 20px;
    left: 20%;
    color: red;
}
#yt{
    position: relative;
    z-index: 1;
    color: #079f32;
}
#ty{
    letter-spacing: 0em;
    border-width: 2%;
    border-spacing: 50%;
    border-radius: 20%;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
    font-size: 1.5rem;
    border-radius: 5rem;
    width: 40%;
    border: 1px solid rgb(162, 255, 0);
}
.logo{
    position: fixed;
    color: #fff;
    font-size: 5em;
    text-shadow: 0 0 50x #0f0,
    0 0 100x #0f0,
    0 0 150x #0f0,
    0 0 200x #0f0,
    0 0 250x #0f0;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.heading{
    text-align: center;
    margin: 0.6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.heading span{
    color: var(--yellow);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 27rem;
    background: linear-gradient(90deg, rgb(3, 1, 24) 0%, rgb(5, 1, 41) 55%, rgb(3, 2, 34) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    border: 0px 0px 3px 0px solid #eb3d42;
}
#lk{
    color: #de0a46;
    margin-top: 50%;
}
header .logo{
    position: relative;
    margin-bottom: 1rem;
    padding: 1px 0;

}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

header .logo{
    text-shadow: 0 0 50x #0f0,
    0 0 100x #0f0,
    0 0 150x #0f0,
    0 0 200x #0f0,
    0 0 250x #0f0;
    animation: animate1 5s linear infinite;
}
@keyframes animate1 {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}
header .user .name{
    font-size: 3.5rem;
    color:#fff
}
header .user .post{
    font-size: 3.5rem;
    color:#fff
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: rgb(17, 0, 0);
    box-shadow: 1px 1px 10px rgb(128, 53, 0);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5rem;
    width: 90%;
    margin-left: 10px;
    border: 1px solid rgb(162, 255, 0);
    animation: animate2 4s linear infinite;
}
@keyframes animate2 {
    0%{
        transition: --green;
    }
    100%{
        transition: var(--yellow);
    }
}
header .navbar ul li a:hover{
    background: var(--yellow);
    color:firebrick;
}
#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: rgb(85, 21, 21);
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
}

.home{
    display: block;
    flex-flow: row;
    text-align: center;
}
#particles{
    width: 100%;
    height: 15vh;
}
.home .user{
    position: relative;
    margin: 30px auto 0;
    width: 320px;
    height: 320px;
    margin-top: 8%;
    margin-right: 37%;
    background: linear-gradient(0deg,#000,#262626);
    background-size: 40%;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}
.home .user:before,
.home .user:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(105deg,#410528,#010137,#0c1e0c,#484806,#3a0101,#30011c,#010136,#013401,#282801,#2c010195);
    background-size: 300%;
    border-radius: 50%;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
    animation: rename 20s linear infinite;
}
@keyframes rename {
    0%{
        background-position:0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.home .user:after{
    filter: blur(20px);
}
.home .user img{
    width: 100%;
    background-position: 40%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    margin-bottom: 3%;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}
.header .menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.home h1{
    font-size:5rem;
    color: #fff;
    text-align: center;
    width: 100%;
}
#e{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}
#e:hover{
    font-size: 12px;
    background-color: #ff0000;
    transform: scale(1.1,1.1);
    border: none;
    box-shadow: 2px red;
}
#gd{
    margin: 0;
    padding: 0;
    position: absolute;
    margin-right: 60%;
    top: 69%;
    transform: translateY(-50%);
    width: 75%;
    text-align: center;
    color: rgb(58, 213, 58);
    text-shadow: 0 0 1px rgb(172, 207, 14);
    font-size: 4em;
    font-family: "Sofia", sans-serif;
    letter-spacing: 0.1em;
}
#gh{
    margin: 0;
    padding: 0;
    position: absolute;
    margin-right: 60%;
    top: 62%;
    transform: translateY(-50%);
    width: 75%;
    text-align: center;
    color: rgb(58, 213, 58);
    text-shadow: 0 0 1px rgb(172, 207, 14);
    font-size: 4em;
    font-family: "Sofia", sans-serif;
    letter-spacing: 0em;
}
#gt {
    text-decoration: none;
    color: rgb(65, 215, 10);
    font-size: 22px;
    margin-top: 10%;
    letter-spacing: 20px;
    animation: df is linear infinite;
    animation-delay: 3s;
}
#gt:hover{
    color: #ff0000;
}
.home h1 span{
    opacity: 0;
    display: inline-block;
    animation: df 1s linear forwards;
}
@keyframes df {
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}
#sd{
    opacity: 0;
    display: inline-block;
    animation: df 1s linear forwards;
}
h1 #sd:nth-child(1){
    animation-delay: 1s;
}
h1 #sd:nth-child(2){
    animation-delay: 1s;
}
h1 #sd:nth-child(3){
    animation-delay: 1s;
}
h1 span:nth-child(1){
    animation-delay: 2s;
}
h1 span:nth-child(2){
    animation-delay: 2s;
}
h1 span:nth-child(3){
    animation-delay: 2s;
}
h1 span:nth-child(4){
    animation-delay: 2s;
}
h1 span:nth-child(5){
    animation-delay: 2s;
}
h1 span:nth-child(6){
    animation-delay: 2s;
}
h1 span:nth-child(7){
    animation-delay: 2s;
}
h1 span:nth-child(8){
    animation-delay: 2s;
}
h1 span:nth-child(9){
    animation-delay: 2s;
}
h1 span:nth-child(10){
    animation-delay: 2s;
}
h1 span:nth-child(11){
    animation-delay: 2s;
}
h1 span:nth-child(12){
    animation-delay: 2s;
}
h1 span:nth-child(13){
    animation-delay: 2s;
}
h1 span:nth-child(14){
    animation-delay: 2s;
}
h1 span:nth-child(15){
    animation-delay: 2s;
}
.home p{
    font-size:2rem;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
.about .row .info .user{
    position: relative;
    margin: 30px auto 0;
    width: 290px;
    height: 310px;
    margin-right: 78%;
    background: linear-gradient(0deg,#000,#262626);
    background-size: 40%;
    border-radius: 50%;
}
.about .row .info .user:before,
.about .row .info .user:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(105deg,#410528,#010137,#0c1e0c,#1c0140,#3a0101,#30011c,#010136,#03044b,#0a013c,#0a052d95);
    background-size: 300%;
    border-radius: 50%;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
    animation: rename 20s linear infinite;
}
@keyframes rename {
    0%{
        background-position:0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.about .row .info .user:after{
    filter: blur(20px);
}
.about .row .info .user img{
    width: 100%;
    background-position: 40%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    margin-bottom: 3%;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding: 1rem 0;
    font-weight: normal;

}
.about .row .info h3 span{
    color: #eee;
    padding: 0.5rem;
}

.about .row .counter .boxe{
    width: 20rem;
    background: var(--mix);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}
.about .row .counter .boxe span{
    font-size: 4rem;
    color: #eee;
}

.about .row .counter .boxe h3{
    font-size: 2rem;
    color: #fff;
}

.education  .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education  .box-container .boxe{
    width: 29rem;
    height: 24rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education  .box-container .boxe span{
    font-size: 1.3rem;
    background: rgb(5, 1, 53);
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education  .box-container .boxe h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem ;
}

.education  .box-container .boxe p{
    font-size: 1.4rem;
    color: #fff;
    padding-top: 1rem 0;
}

.education  .box-container .boxe i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: blue;
}

.skills-bar{
    justify-content: center;
    justify-content: center;
    position: relative;
    display: block;
    padding: 13px 0;
    margin-top: 10%;
}
.skills-bar .let{
    display: grid;
    margin: 10px 100px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px , 0.5fr));
    grid-gap: 30px;
    margin-left: 20%;
}
.skills-bar .card{
    position: relative;
    width: 250px;
    height: 250px;
    background: linear-gradient(90deg, rgb(2, 1, 17) 0%, rgb(2, 2, 34) 35%, rgb(0, 2, 14) 100%);
    display: inline-flex;
    gap: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills-bar .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
.skills-bar .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.skills-bar .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}
.skills-bar .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: abn 1s linear forwards;
    animation-delay: 5.5s;
}
@keyframes abn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animatedot 2s linear forwards;
    animation-delay: 3s;
}

@keyframes animatedot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0  10px var(--clr),
    0 0 30px var(--clr);
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: abn 1s linear forwards;
    animation-delay: 5.5s;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}
.number h2 span{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}
.number p{
    font-weight: 300;
    font-size: 1.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
}
.certificates .gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.gallery-image{
    width: 30%;
    height: 280px;
    margin: 10px;
    overflow: hidden;
}
.gallery-image:hover{
    transform: scale(1.1,1.1);
    color: #000;
}
.image{
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: 1s;
    border-radius: 20%;
}
.image:hover{
    box-shadow: 0 0 10px rgb(3, 157, 141);
}

/* popup */

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 60%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    opacity: 0;
}

.close-btn{
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f00;
    cursor: pointer;
}

.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    width: 100px;
    height: 200px;
}

.left-arrow{
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.right-arrow{
    right: 10px;
}

.arrow-btn:hover{
    background: rgba(0, 0, 0, 0.5);
}

.index{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex: 1 1 30rem;
    padding:4rem ;
    padding-bottom: 0;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: rgba(53, 5, 34, 0.2);
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .info h1{
    color: white;
    letter-spacing: 0.2em;
    font-weight: 500;
}
.contact .row .info p{
    margin-top: 10%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--yellow);
}
header .navbar .icon-menu i{
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
#menu{
    display: none;
}
@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
    #gd{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 50%;
        top: 72%;
        transform: translateY(-50%);
        width: 60%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 4em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0.1em;
    }
    #gh{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 50%;
        top: 67%;
        transform: translateY(-50%);
        width: 60%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 4em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0em;
    }
    #gt {
        text-decoration: none;
        color: rgb(65, 215, 10);
        font-size: 22px;
        margin-left: 7%;
        letter-spacing: 20px;
        animation: df is linear infinite;
        animation-delay: 3s;
    }
    .home .user{
        margin-left: 23%;
        width: 350px;
        height: 350px;
    }
    .btn{
        margin-left: 5%;
    }
}
@media (max-width:991px) {
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
    .certificates .box-contanier .box {
        width: 100%;
    }
    .header .menu-btn{
        display: block;
    }
    #gd{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 40%;
        margin-left: 15%;
        top: 76%;
        transform: translateY(-50%);
        width: 70%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 4em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0.1em;
    }
    #gh{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 40%;
        margin-left: 13%;
        top: 70%;
        transform: translateY(-50%);
        width: 70%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 4em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0em;
    }
    #gt {
        text-decoration: none;
        color: rgb(65, 215, 10);
        font-size: 22px;
        margin-left: 7%;
        margin-top: 10%;
        letter-spacing: 10px;
        animation: df is linear infinite;
        animation-delay: 3s;
    }
    .home .user{
        margin-left: 32%;
        width: 350px;
        height: 350px;
    }
}

@media (max-width:768px) {
    html{
        font-size: 50%;
    }
    header{
        width: 100vw;
        margin: 0 0 0 15px;
        font-size: 16px;
    }
    .header .menu-btn{
        display: block;
    }
    .skills-bar .let{
        display: grid;
    margin: 20px 50px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px , 0.5fr));
    grid-gap: 30px;
    }
    .home .user{
        position: relative;
        margin: 30px auto 0;
        width: 320px;
        height: 320px;
        margin-top: 8%;
        margin-right: 25%;
        background: linear-gradient(0deg,#000,#262626);
        background-size: 40%;
        border-radius: 50%;
    }
    .home h1{
        font-size:1rem;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    #gd{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 40%;
        margin-left: 12%;
        top: 76%;
        transform: translateY(-50%);
        width: 70%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 4em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0.1em;
    }
    #gh{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-right: 40%;
        margin-left: 10%;
        top: 70%;
        transform: translateY(-50%);
        width: 70%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 4em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0em;
    }
    #gt {
        text-decoration: none;
        color: rgb(65, 215, 10);
        font-size: 22px;
        margin-left: 7%;
        margin-top: 15%;
        letter-spacing: 10px;
        animation: df is linear infinite;
        animation-delay: 3s;
    }
    .home .user{
        margin-left: 27%;
        width: 350px;
        height: 350px;
    }
    .btn{
        margin-left: 5%;
    }
    .arrow-btn{
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        border-radius: 50%;
        border: none;
        background: none;
        cursor: pointer;
        width: 100px;
        height: 200px;
    }
    
    .left-arrow{
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
    }
    
    .right-arrow{
        right: 10px;
    }
    
    .arrow-btn:hover{
        background: rgba(0, 0, 0, 0.5);
    }
}
@media (max-width:1200) {
    .home .user{
        position: relative;
        margin: 30px auto 0;
        width: 320px;
        height: 320px;
        margin-top: 8%;
        margin-right: 25%;
        background: linear-gradient(0deg,#000,#262626);
        background-size: 40%;
        border-radius: 50%;
    }
    .home h1{
        font-size:5rem;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    #gd{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-left: 4%;
        top: 56%;
        transform: translateY(-50%);
        width: 80%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 3em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0.1em;
    }
    #gh{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-left: 17%;
        top: 52%;
        transform: translateY(-50%);
        width: 50%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 3em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0em;
    }
    #gt {
        text-decoration: none;
        color: rgb(65, 215, 10);
        font-size: 22px;
        margin-top: 20%;
        margin-left: 7%;
        letter-spacing: 20px;
        animation: df is linear infinite;
        animation-delay: 3s;
    }
    .home .user{
        margin-left: 15%;
        margin-bottom: 10%;
        width: 270px;
        height: 270px;
    }
    .skills-bar .let{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px , 0fr));
        grid-gap: 10px;
        margin-left: 20%;
    }
    .arrow-btn{
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        border-radius: 50%;
        border: none;
        background: none;
        cursor: pointer;
        width: 100px;
        height: 200px;
    }
    
    .left-arrow{
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
    }
    
    .right-arrow{
        right: 10px;
    }
    
    .arrow-btn:hover{
        background: rgba(0, 0, 0, 0.5);
    }
}
@media (max-width:500px) {
    header{
        position: fixed;
        top: 80;
        left: -100;
        background: linear-gradient(90deg, rgb(3, 1, 24) 0%, rgb(5, 1, 41) 55%, rgb(3, 2, 34) 100%);
        height: 100vh;
        width: 100%;
        display: block;
    }
    header .navbar .icon-menu i{
        display: block;
    }
    .header .navbar .ul .li{
        margin-top: 40px 0;
    }
    #click:checked ~ ul{
        left: 0;
    }
    #clicK:checked ~ .icon-menu i::before{
        content: "\e601";
    }
    header .navbar ul li a{
        display: block;
        background: none;
        color: #fff;
        font-size: 1.5rem;
        width: 90%;
        margin-left: 10px;
        border: none;
        margin-top: 8%;
        box-shadow: none;
    }
    .header .logo{
        width: 50%;
        height: 50%;
    }
    #yy{
        width: 80%;
        height: 30%;
        margin-left: 5%;
    }
    .heading{
        margin: 0 3rem;
    }
    body{
        background-size: cover;
        background-position: 100%;
    }
    .home h1{
        font-size:2rem;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    #gd{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        width: 90%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 3em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0.1em;
    }
    #gh{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-left: 17%;
        top: 52%;
        transform: translateY(-50%);
        width: 50%;
        text-align: center;
        color: rgb(58, 213, 58);
        text-shadow: 0 0 1px rgb(172, 207, 14);
        font-size: 3em;
        font-family: "Sofia", sans-serif;
        letter-spacing: 0em;
    }
    #gt {
        text-decoration: none;
        color: rgb(65, 215, 10);
        font-size: 22px;
        margin-top: 20%;
        margin-left: 7%;
        letter-spacing: 20px;
        animation: df is linear infinite;
        animation-delay: 3s;
    }
    .home .user{
        margin-left: 15%;
        width: 270px;
        height: 270px;
    }
    .btn{
        margin-left: 10%;
    }
    .home p{
        margin-top: 3%;
        margin-left: 1%;
    }
    .about .row .counter .box{
        width: 100%;
    }

    .education  .box-container .box{
        width: 100%;
    }

    .certificates .box-contanier .box {
        width: 100%;
    }
    .arrow-btn{
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        border-radius: 50%;
        border: none;
        background: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .gallery-image{
        width: 40%;
        height: 150px;
        margin: 10px;
        overflow: hidden;
    }
    .left-arrow{
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
    }
    
    .right-arrow{
        right: 10px;
    }
    
    .arrow-btn:hover{
        background: rgba(0, 0, 0, 0.5);
    }
}